* {
  box-sizing: border-box;
}

body {
  background-image: url(https://media.giphy.com/media/yQKC6FPB7wAGQ/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Righteous', cursive;
  margin:0;
  font-size: 4em;
  color: #f1c40f;
}

h3 {
  color: white;
}

.date, p, .color {
  color: white;
  font-size: 1.5em;
}

button{
  border-radius:10%;
  padding:20px;
}

#trash {
  margin-left: -6%;
  padding: 7px;
}

span {
  font-size: 1.5em;
}

input {
  width: 25%;
  height: 70px;
  border-radius: 10%;
  margin-bottom: 28px;
}

#yellow {
  background-color: #f1c40f;
  border-radius: 10%;
  color: white;
  font-size: 1.2em;
  width: 15%;
}

#grey {
  background-color: #515A5A;
  color: white;
  border-radius: 10%;
  font-size: 1.2em;
  width: 15%;
}

#blue {
  background-color: #154360;
  color: white;
  font-size: 1.2em;
  border-radius: 10%;
  width: 15%;
}

#red {
  background-color: #A93226;
  color: white;
  font-size: 1.2em;
  border-radius: 10%;
  width: 15%;
}
